{% extends "_layout.html" %}
{% block content %}
<h1>Post</h1>
<br/>
    <form action="{{ url_for('users.posting') }}" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <label for="user_file">Upload Your Profile Post</label>
        <br/>
        <input type="file" name="user_file" onchange="openFile(event)"/>
        <div><img id='output' style="height: 300px; width: 300px; margin: 5px"/></div>
        <button type="submit">Post</button>
    </form>
{% endblock %}