{% extends "_layout.html" %}
{% block content %}
<h3>{{user.username}}</h3>
<div><img id='output' style="height: 230px; width: 230px; margin: 5px; border-radius: 50%" src="{{user.profile_image_url}}"/>
    <!-- braintree
    <div id="dropin-container"></div>
    <button id="submit-button" style="background-color: blue; border-color: #64d18a; color: white; border-radius: 5px">Donate</button>
    <script>
      const button = document.querySelector('#submit-button');
  
      braintree.dropin.create({
        authorization: 'sandbox_383w788r_hnccf2svcphsmjhb',
        container: '#dropin-container'
      }, function (createErr, instance) {
        button.addEventListener('click', function () {
          instance.requestPaymentMethod(function (err, payload) {
            // Submit payload.nonce to your server
          });
        });
      });
    </script> -->
    <span class="container-fluid mt-3" >
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div style="background-color:lightgoldenrodyellow">
        <div class="card-body">
          <li>Followers: {{ user.fans | length }}</li>
          <li>Following: {{ user.idols | length }}</li>
          <form
            action="#"
            method="POST"
          >
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <button type="submit" class="btn btn-primary">Follow</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <span class="container">
</div>

<!-- {%for i in pp:%}
    <span><img style="height: 250px; width: 250px; margin: 5px" src="{{i.profile_picture_url}}"/></span>
{%endfor%}     -->
{%for image in user.images%}
<span><img style="height: 250px; width: 250px; margin: 5px" src="{{image.profile_picture_url}}"/></span>
<div class="card-body">
    <h6>{{ image.caption }}</h6>
    <h6>Total Donation Amount: USD {{ image.total_donations }}</h6>
    <a
      href="{{url_for('donations.new', profile_page_id=image.id)}}"
      class="btn btn-outline-primary"
      >Make A Donation!</a
    >
  </div>
{%endfor%}    


{% endblock %}